# this file is purposefully empty but for more complex projects it would list the python dependencies required for the lambda function to run. 
# For example, if your lambda function uses the requests library, you would add the following line to this file:
# requests==2.25.1